.card {
  max-width: 413px;
}
.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  max-width: 360px;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/heartlike.svg);
  background-color: transparent;
  width: 23px;
  height: 20px;
  opacity: 40%;
  border: none;
  display: flex;
  flex: 0 0 23px;
  margin-left: 12px;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }
}
